<h2>Add a new comment</h2>
<form action="{% url "blog:post_comment" post.id %}" method="post" class="comment-form">
  <div class="form-group">
    <div class="form-field left">
      {{ form.name.as_field_group }}
    </div>
    <div class="form-field left">
      {{ form.email.as_field_group }}
    </div>
  </div>
  
  <div class="form-field">
    {{ form.body.as_field_group }}
  </div>
  
  {% csrf_token %}
  
  <p class="submit-btn">
    <input type="submit" value="Add comment" class="submit-button">
  </p>
</form>
