{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
  <div class="share-post-container">
    {% if sent %}
      <h1 class="success-message">E-mail successfully sent</h1>
      <p class="success-detail">
        "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
      </p>
    {% else %}
      <h1 class="share-title">Share "{{ post.title }}" by e-mail</h1>
      <form method="post" novalidate class="share-form">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Send e-mail" class="submit-button">
      </form>
    {% endif %}
  </div>
{% endblock %}
